.title {
  color: #416983;
  font-size: 48px;
  text-align: center;
  font-family: Akzidenz Grotesk Regular;
}

.plot {
  color: #de342b;
  font-size: 40px;
  text-align: center;
  font-family: Akzidenz Grotesk Regular;
}

.director {
  color: #f0de3c;
  font-size: 48px;
  text-align: center;
  font-family: Akzidenz Grotesk Regular;
}

.actors {
  color: #de342b;
  font-size: 40px;
  text-align: center;
  font-family: Akzidenz Grotesk Regular;
}

.released {
  color: #416983;
  font-size: 40px;
  text-align: center;
  font-family: Akzidenz Grotesk Regular;
}

img {
  image-orientation: center;
  display: block;
  margin: auto;
  width: 25%;
}

body {
  background-color: #f0a251
}
